@use '../../../common/styles/variables' as vars;
@use '../../../common/styles/mixins' as mix;

.message {
    padding: 8rem 0;
    background-color: vars.$color-3-200;

    &__container {
        width: 85%;
        margin: 0 auto;
        text-align: center;
        font-family: vars.$font-serif;
    }

    &__title {
        font-family: vars.$font-serif;
        font-size: 1.4rem;
        letter-spacing: 5px;
        margin-bottom: 1.8rem;
        color: vars.$color-secondary-600;
        text-transform: uppercase;
    }

    &__header {
        margin-bottom: 2rem;
    }

    &__ornament {
        width: 6rem;
        height: 1px;
        background-color: vars.$color-tertiary-500;
        margin: 0 auto 2.5rem;
        transform-origin: center;
        opacity: 0.6;
    }

    &__text {
        @include mix.textSerifUppercase(vars.$font-serif);

    }

    &__photo {
        position: relative;
        width: 100%;
        height: 40vh;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(vars.$color-secondary-600, 0.1);
        }
    }
}